<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/styles/common.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/index.css">
    <title>Tusavirus Report</title>
</head>
<body>
    <section class="container">
        <h2>Tusavirus Report Portal</h2>
        <form action="/action_page" method="POST">
            <span>Select the state you want to report</span><br>
            <select name="states">
                <option value="amazonas">Amazonas</option>
                <option value="antioquia">Antioquia</option>
                <option value="arauca">Arauca</option>
                <option value="atlantico">Atlántico</option>
                <option value="bolivar">Bolívar</option>
                <option value="boyaca">Boyacá</option>
                <option value="caldas">Caldas</option>
                <option value="caqueta">Caquetá</option>
                <option value="casanare">Casanare</option>
                <option value="cauca">Cauca</option>
                <option value="cesar">Cesar</option>
                <option value="choco">Chocó</option>
                <option value="cordoba">Córdoba</option>
                <option value="cundinamarca">Cundinamarca</option>
                <option value="guainia">Guainía</option>
                <option value="guaviare">Guaviare</option>
                <option value="huila">Huila</option>
                <option value="guajira">La Guajira</option>
                <option value="magdalena">Magdalena</option>
                <option value="meta">Meta</option>
                <option value="narino">Nariño</option>
                <option value="nsantander">Norte de Santander</option>
                <option value="putumayo">Putumayo</option>
                <option value="quindio">Quindío</option>
                <option value="risaralda">Risaralda</option>
                <option value="sanandres">San Andrés y Providencia</option>
                <option value="santander">Santander</option>
                <option value="sucre">Sucre</option>
                <option value="tolima">Tolima</option>
                <option value="valle">Valle del Cauca</option>
                <option value="vaupes">Vaupés</option>
                <option value="vichada">Vichada</option>
            </select>
            <br><br>
            <span>Number of confirmed patients</span><br>
            <input type="text" name="patients">
            <br><br>
            <input class ="button" type="submit" value="Submit">
        </form>
    </section>
    </body>
</html>